.Fav{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    background:none;
    border:none;
    font-size: 20px;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 10;
}
.Fav:hover{
    transform: scale(1.2);
}